<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="HMRC API Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
            <directory>tests</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="build/coverage.txt" showUncoveredFiles="true"/>
            <html outputDirectory="build/html"/>
            <clover outputFile="build/logs/cover.xml"/>
        </report>
    </coverage>
</phpunit>
